.footer {
  font-family: 'UTM BryantLG';
  background-color: $color-black-0;
  margin-top: 100px;
}

.footer-lg {
  padding: 65px 0 30px 0;
  color: white;
}

.footer-left {
  .footer-img {
    width: 250px;
  }

  p {
    padding-left: 57px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -5%;
    opacity: 0.8;
  }
}

.footer-center {
  padding-left: 100px;
  p {
    font-size: 20px;
    line-height: 24.52px;
    margin-bottom: 20px;
  }

  .footer-center-l {
    margin-right: 60px;
  }
}
.footer-right {
  margin-left: 135px;
}

.custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  line-height: 63px;
  cursor: pointer;

  i {
    color: $color-black-0;
    font-size: 28px;
  }
}

.footer-link {
  font-size: 18px;
  color: white;
  opacity: 0.7;
  text-decoration: underline;
  display: none;

  &:hover {
    color: white;
  }
}

.footer-active {
  display: block;
}

.footer-bot {
  padding: 5px 0;
  background-color: $color-black-1;
  color: white;
  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1300px) and (max-width: 2000px) {
  .footer-icon {
    &:hover {
      a {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .footer-icon {
    &:hover {
      a {
        display: block;
      }
    }
  }

  .footer-center {
    padding-left: 70px;

    .footer-center-l {
      margin-right: 40px;
    }
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px){
  .footer-icon {
    &:hover {
      a {
        display: block;
      }
    }
  }

  .footer-center {
    padding-left: 40px;

    .footer-center-l {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-lg {
    padding: 65px 0px 30px 35px;
  }

  .footer-right {
    margin-left: 50px;
  }
}

@media screen and (max-width: 856px) {
  .footer-left {
    .footer-img {
      width: 200px;
    }

    p {
      font-size: 14px;
      padding-left: 44px;
    }
  }

  .footer-center {
    padding-left: 53px;

    p {
      font-size: 16px;
    }

    .footer-center-l {
      margin-right: 40px;
    }
  }

  .custom-phone-icon,
  .custom-fb-icon,
  .custom-en-icon {
    width: 40px;
    height: 40px;
    line-height: 48px;

    i {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 735px) {
  .footer-left {
    .footer-img {
      width: 150px;
    }

    p {
      padding-left: 33px;
    }
  }

  .footer-center {
    padding-left: 40px;

    p {
      font-size: 14px;
    }

    .footer-center-l {
      margin-right: 30px;
    }
  }

  .custom-phone-icon,
  .custom-fb-icon,
  .custom-en-icon {
    width: 30px;
    height: 30px;
    line-height: 33px;

    i {
      font-size: 15px;
    }
  }

  .footer-right {
    margin-left: 27px;
  }
}

@media screen and (max-width: 576px) {
  .footer-left {
    display: none;
  }

  .footer-lg {
    padding: 50px 50px 30px 50px;
  }

  .footer-center {
    padding-left: 0;

    p {
      font-size: 22px;
    }

    .footer-center-l {
      margin-right: 180px;
    }
  }

  .footer-right {
    margin-left: 0px;
  }

  .footer-img {
    width: 190px;
  }

  .footer-logo-sm {
    margin-right: 60px;
    margin-left: -7px;

    p {
      padding-left: 7px;
    }
  }
}

@media screen and (max-width: 484px) {
  .footer-center {
    p {
      font-size: 20px;
    }

    .footer-center-l {
      margin-right: 140px;
    }
  }

  .footer-logo-sm {
    margin-right: 20px;

    p {
      font-size: 12px;
    }
  }

  .footer-img {
    width: 170px;
  }
}

@media screen and (max-width: 425px) {
  .footer-lg {
    padding: 50px 0px 30px 50px;
  }
  .footer-center {
    p {
      font-size: 16px;
    }

    .footer-center-l {
      margin-right: 140px;
    }
  }

  .custom-phone-icon,
  .custom-fb-icon,
  .custom-en-icon {
    width: 30px;
    height: 30px;
    line-height: 33px;

    i {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 395px) {
  .footer-img {
    width: 150px;
  }

  .footer-logo-sm {
    margin-right: 10px;

    p {
      font-size: 10px;
    }
  }

  .custom-phone-icon,
  .custom-fb-icon,
  .custom-en-icon {
    margin: 0 5px;
  }

  .footer-center {
    .footer-center-l {
      margin-right: 107px;
    }
  }
  
  .footer-lg {
    padding: 50px 0px 30px 28px;
  }
}
