header {
  
  .header-navbar {
    margin: 15px 37px;

    .header-tonggle {
      border: 0;
    }

  }

  .hide {
    display: none;
  }

  .header-iconx {
    font-size: 2rem;
    border: 0;
  }

}

.header-ul {

  .header-nav-item {
    margin: 0 8px;
    border-radius: 17px;
    padding: 1px 12px;
    transition: all 0.3s ease;

    &.header-active,
    &:hover {
      background-color: $color-green-0;

      a {
        color: white;
      }

    }

    a {
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: bold;
      color: $color-black-0;
    }

  }

}

.header-navbar-brand {

  .navbar-brand {
    width: 24rem;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    &.header-navbar {
      display: block;

      .header-navbar-brand {
        width: 35%;
        margin: 0 auto;
        padding-bottom: 21px;
      }

    }
  }

  .ml-auto {
    &.header-ul {
      margin: 0 !important;
    }
  }

  .navbar-expand-lg {
    .navbar-collapse {
      &.header-content {
        display: block !important;
      }
    }
  }

  .header-content {
    .header-ul {
      justify-content: space-between;
    }
  }

}

@media screen and (max-width: 991px) {
  .header-ul {
    height: 100vh;
  }

  .header-tonggle {
    position: absolute;
    left: 25px;
    top: 30px;
  }

  .navbar {
    &.header-navbar {
      .header-navbar-brand {
        width: 35%;
        margin: 0 auto;
        padding-bottom: 21px;
      }
    }
  }

  .header-ul {
    .header-nav-item {
      border-radius: 5px;
    }
  }

}

@media screen and (max-width: 700px) {
  .header-navbar-brand {
    .navbar-brand {
      width: 18rem;
    }
  }

  .header-tonggle {
    top: 26px;
  }

  header {
    .header-navbar {
      margin: 0;

      .navbar-toggler {
        font-size: 1.1rem;
      }

    }
  }

}

@media screen and (max-width: 500px) {
  .navbar {
    &.header-navbar {
      display: block;

      .header-navbar-brand {
        width: 100%;
        margin: 0;
        padding-bottom: 21px;
      }

    }
  }

  .header-navbar-brand {
    .navbar-brand {
      margin: 0;
      width: 15rem;
      margin-left: 7rem;
    }
  }

}
@media screen and (max-width: 400px) {
  .header-navbar-brand {
    .navbar-brand {
      width: 12rem;
      margin-left: 5rem;
    }
  }

  .header-tonggle {
    top: 17px;
    left: 0;
  }

} 

