header {
  .header-navbar {
    margin: 15px 37px;

    .header-tonggle {
      border: 0;
    }
  }

  .hide {
    display: none;
  }

  .header-iconx {
    font-size: 2rem;
    border: 0;
  }

}

.header-ul {
  .header-nav-item {
    margin: 0 8px;
    border-radius: 17px;
    padding: 1px 12px;
    transition: all 0.3s ease;

    &.header-active,
    &:hover {
      background-color: $color-green-0;

      a {
        color: white;
      }

    }

    a {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: bold;
      color: $color-black-0;
    }

  }
}

.header-navbar-brand {
  .navbar-brand {
    width: 24rem;
  }
}

.form-rl {
  font-family: 'UTM BryantLG';
  width: 400px;
  height: 80%;
  background-color: white;

  .form-rl-header {
    background-color: $color-green-0;

    p {
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: bold;
      color: white;
    }

  }

}

@media screen and (min-width: 576px) and (max-width: 1100px) {
  .navbar {
    &.header-navbar {
      display: block;

      .header-navbar-brand {
        width: 35%;
        margin: 0 auto;
        padding-bottom: 21px;
      }

    }
  }

  .ml-auto {
    &.header-ul {
      margin: 0 !important;
    }
  }

  .navbar-expand-sm {
    .navbar-collapse {
      &.header-content {
        display: block !important;
      }
    }
  }

  .header-content {
    .header-ul {
      justify-content: space-around;
    }
  }
  
}

@media screen and (max-width: 950px) {
  .navbar {
    &.header-navbar {
      .header-navbar-brand {
        width: 40%;
      }
    }
  }
  
}

@media screen and (max-width: 768px) {
  .header-navbar {
      .header-navbar-brand {
        width: 50%;

        .navbar-brand {
          width: 22rem;
        }

      }
    }
  
}

@media screen and (min-width: 576px) and (max-width: 668px) {
  .header-ul {
    .header-nav-item {
      a{
        font-size: 0.7rem;
      }
    }
  }

  .header-navbar {
      .header-navbar-brand {
        .navbar-brand {
          width: 19rem;
        }
      }
    }

}

@media screen and (max-width: 575px) {
  .header-tonggle {
    top: 26px;
  }

  header {
    .header-navbar {
      margin: 0;

      .navbar-toggler {
        font-size: 1.1rem;
      }

    }
  }

  .header-ul {
    height: 100vh;

    .header-nav-item {
      &.header-active,
      &:hover {
        background-color: transparent;

        a {
          color: $color-green-0;
        }
      }

      .nav-link {
        text-align: center;
      }

    }
    
  }
    
  .header-tonggle {
    position: absolute;
    left: 0px;
    top: 30px;
  }
    
  .navbar {
    &.header-navbar {
      .header-navbar-brand {
        width: 35%;
        margin: 0 auto;
        padding-bottom: 21px;
      }
    }
  }
    
  .header-ul {
    .header-nav-item {
      border-radius: 5px;
    }
  }

  .navbar {
    &.header-navbar {
      display: block;

      .header-navbar-brand {
        width: 100%;
        margin: 0;
        padding-bottom: 21px;
      }

    }
  }

  .header-navbar-brand {
    .navbar-brand {
      margin: 0;
      width: 15rem;
      margin-left: 7rem;
    }
  }

}

@media screen and (max-width: 460px) {
  .header-navbar-brand {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-top: 8px;
  }

}

@media screen and (max-width: 400px) {
  .header-navbar-brand {
    padding-top: 15px;
  }

}
