.banner {
  position: relative;
  background: linear-gradient(180deg, #fffbfb 87.5%, #e7e9ee 100%);
  font-family: $fontNu;
  height: 800px;

  .banner-img {
    background-image: url("../asset/image/Hapo_Learn_banner1.png");
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-content {
    position: absolute;
    top: 21%;
    left: 0;
    padding-left: 160px;
  }
}

.banner-content {
  p:first-child {
    font-size: 50px;
    line-height: calc(61 / 50);
    letter-spacing: -0.05em;
    font-weight: 400;
    color: $color-blue-0;
    margin-bottom: 0;
  }

  .banner-content-imgsmall {
    font-weight: 700;
    font-size: 50px;
    line-height: calc(61 / 50);
    color: $color-blue-0;
    word-spacing: 5px;
    margin-bottom: 13px;

    img {
      width: 54px;
      height: 48px;
      margin: 0 -12px;
    }
  }

  .banner-tagp {
    font-size: 20px;
    line-height: calc(24.52 / 20);
    letter-spacing: -0.05em;
    color: $color-black-0;
    margin-bottom: 2rem;
  }

  .banner-btn {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: -0.05em;
    padding: 13px 55px;
    border-radius: 35px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    color: white;
    font-weight: 600;
    background-color: $color-green-0;
    transition: all 0.3s ease;

    &:hover {
      color: $color-green-0;
      background-color: white;
    }
  }
}

@media screen and(max-width : 1400px) {
  .banner {
    .banner-content {
      p:first-child {
        font-size: 40px;
      }

      .banner-content-imgsmall {
        font-size: 40px;
      }

      .banner-tagp {
        font-size: 18px;
      }

      .banner-btn {
        font-size: 23px;
      }
    }
  }
}

@media screen and(max-width : 1260px) {
  .banner {
    .banner-content {
      p:first-child {
        font-size: 35px;
      }

      .banner-content-imgsmall {
        font-size: 35px;

        img {
          width: 50px;
          height: 43px;
        }
      }

      .banner-tagp {
        font-size: 15px;
      }

      .banner-btn {
        font-size: 19px;
        padding: 13px 48px;
      }
    }
  }
}

@media screen and(max-width : 1100px) {
  .banner {
    .banner-content {
      top: 16%;
      padding-left: 80px;

      p:first-child {
        font-size: 40px;
      }

      .banner-content-imgsmall {
        font-size: 40px;
      }

      .banner-tagp {
        font-size: 18px;
        opacity: 0.7;
      }

      .banner-btn {
        font-size: 20px;
        padding: 14px 55px;
      }
    }
  }
}

@media screen and(max-width : 1000px) {
  .banner {
    .banner-content {
      p:first-child {
        font-size: 2.5rem;
      }

      .banner-content-imgsmall {
        font-size: 2.4rem;
      }

      .banner-tagp {
        font-size: 1.3rem;
      }

      .banner-btn {
        font-size: 1.3rem;
        padding: 14px 48px;
      }
    }
  }
}

@media screen and(max-width : 898px) {
  .banner {
    height: 650px;

    .banner-img {
      height: 85%;
    }

    .banner-content {
      p:first-child {
        font-size: 2.2rem;
      }

      .banner-content-imgsmall {
        font-size: 2.2rem;
      }

      .banner-tagp {
        font-size: 1.1rem;
      }

      .banner-btn {
        font-size: 1.1rem;
        padding: 12px 38px;
      }
    }
  }
}

@media screen and(max-width : 768px) {
  .banner {
    .banner-content {
      top: 15%;

      p:first-child {
        font-size: 2rem;
      }

      .banner-content-imgsmall {
        font-size: 1.8rem;
        margin-bottom: 8px;

        img {
          width: 35px;
          margin: -5px;
        }
      }

      .banner-tagp {
        font-size: 0.9rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 0.9rem;
        padding: 11px 30px;
      }
    }
  }
}

@media screen and(max-width : 668px) {
  .banner {
    .banner-content {
      top: 18%;

      p:first-child {
        font-size: 1.8rem;
      }

      .banner-content-imgsmall {
        font-size: 1.6rem;
      }

      .banner-tagp {
        font-size: 0.85rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 0.85rem;
        padding: 10px 25px;
      }
    }
  }

  .banner-content-imgsmall {
    img{
      width: 6%;
    }
  }
}

@media screen and(max-width : 575px) {
  .banner {
    height: 600px;

    .banner-img {
      height: 45%;
    }

    .banner-content {
      position: relative;
      top: 0%;
      width: 88%;
      margin: 0 auto;
      padding-left: 40px;

      p:first-child {
        font-size: 2.4rem;
      }

      .banner-content-imgsmall {
        font-size: 2.4rem;

        img {
          width: 10%;
        }
      }

      .banner-tagp {
        font-size: 1.4rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 1.4rem;
        padding: 12px 50px;
      }
    }
  }
}

@media screen and(max-width : 484px) {
  .banner {
    .banner-content{
      p:first-child {
        font-size: 2.15rem;
      }

      .banner-content-imgsmall {
        font-size: 2.1rem;

        img {
          width: 12%;
          height: 37px;
        }
      }

      .banner-tagp {
        font-size: 1.3rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 1.3rem;
        padding: 12px 44px;
      }
    }
  }
}

@media screen and(max-width : 410px) {
  .banner {
    height: 530px;

    .banner-img {
      height: 45%;
    }

    .banner-content{
      width: 91%;

      p:first-child {
        font-size: 1.9rem;
      }

      .banner-content-imgsmall {
        font-size: 1.8rem;
      }

      .banner-tagp {
        font-size: 1.1rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 1.1rem;
        padding: 11px 40px;
      }
    }
  }
}

@media screen and(max-width : 354px) {
  .banner {
    .banner-content{
      p:first-child {
        font-size: 1.68rem;
      }

      .banner-content-imgsmall {
        font-size: 1.4rem;
      }

      .banner-tagp {
        font-size: 1rem;
        margin-bottom: 1.7rem;
      }

      .banner-btn {
        font-size: 1rem;
        padding: 11px 40px;
      }
    }
  }
}
