.courses {
  font-family: $fontNu;
}

.courses-list {
  margin-top: -80px;
}

.card {
  width: 33.33%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 0 15px;
  overflow: hidden;
}

.courses-img {
  height: 250px;
  padding: 3rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.courses-hcj {
    background-color: $color-blue-1;
  }

  &.courses-laravel {
    background-color: $color-red-0;
  }

  &.courses-php {
    background-color: $color-blue-2;
  }

  &.courses-css {
    background-color: $color-blue-3;
  }

  &.courses-ruby {
    background-color: $color-red-1;
  }

  &.courses-java {
    background-color: $color-blue-4;
  }
}

.card-title {
  font-size: 33px;
  color: $color-green-0;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: calc(36.78 / 30);
}

.card-text {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(1.7 / 1.1);
  color: $color-black-0;
  letter-spacing: -0.05rem;
  padding: 0 45px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.courses-card-body {
  padding: 25px 14px 40px 14px;
}

.courses-btn {
  font-size: 18px;
  line-height: calc(22.07 / 18);
  font-weight: bold;
  letter-spacing: -0.05rem;
  word-spacing: 0.1rem;
  color: white;
  padding: 15px 50px;
  background-color: $color-green-0;
  border-radius: 35px;
  box-shadow: inset 0px 1.5px 2px #6F8710;

  &:hover {
    color: white;
    background-color: $color-green-1;
  }
}

.courses-other {
  padding-top: 120px;
  position: relative;

  p:first-child {
    font-size: 80px;
    font-weight: bold;
    color: $color-blue-0;
    display: inline-block;
    border-bottom: 6px solid $color-green-0;
    margin-bottom: 4.9rem;
    line-height: calc(98.09 / 80);
  }
}

.courses-view-courses {
  font-size: 40px;
  color: $color-green-1;
  font-weight: bold;
  margin-top: 65px;
  display: block;

  &:hover {
    color: $color-green-0;
  }

  i {
    font-size: 2.5vw;
    display: inline-block;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1668px) {
  .courses-img {
    height: 225px;
    padding: 3rem 6rem;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    padding: 0 32px;
  }

  .courses-other {
    padding-top: 90px;
  }

  .courses-view-courses {
    i {
      font-size: 3vw;
      display: inline-block;
      margin-left: 5px;
    }
  }

  .courses-btn {
    padding: 16px 40px;
  }
}

@media screen and (max-width: 1568px) {
  .card-text {
    padding: 0 20px;
  }

  .courses-other {
    padding-top: 70px;
  }

  .courses-img {
    height: 205px;
  }

  .card-text {
    font-size: 13px;
  }

  .card-title {
    font-size: 28px;
  }

  .courses-btn {
    padding: 14px 40px;
  }
}

@media screen and (max-width: 1468px) {
  .courses-img {
    padding: 1rem 5rem;
    height: 190px;
  }

  .card-text {
    padding: 0 20px;
  }

  .courses-card-body {
    padding: 1.5rem 1rem 30px 1rem;
  }

  .courses-btn {
    padding: 13px 40px;
  }
  
  .courses-other p:first-child {
    font-size: 70px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 12px;
  }

  .courses-btn {
    font-size: 15px;
  }
}

@media screen and (max-width : 1300px) {
  .courses-img {
    height: 170px;
  }

  .card-text {
    padding: 0 9px;
  }

  .courses-card-body {
    padding: 1.05rem 1rem 25px 1rem;

  }
}

@media screen and (max-width: 1260px) {
  .courses-list {
    margin-top: -55px;
  }
}

@media screen and (max-width : 1225px) {
  .courses-img {
    height: 150px;
    padding: 1rem 4rem;
  }

  .card-title {
    font-size: 22px;
  }
  
  .card-text {
    font-size: 11px;
  }

  .courses-btn {
    font-size: 13px;
    padding: 11px 40px;
  }

  .courses-other p:first-child {
    font-size: 60px;
  }

  .courses-view-courses {
    font-size: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width : 1100px) {
  .card-title {
    margin-bottom: 0;
    font-size: 23px;
  }
}

@media screen and (min-width: 576px) and (max-width : 1058px) {
  .courses-card-body {
    padding: 1.25rem 1rem 35px 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 991px) {
  .courses-list {
    margin-top: -55px;
    padding: 0 20px;
  }

  .courses-other {
    padding: 0 20px;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 20px;
  }

  .courses-btn {
    font-size: 0.9rem;
  }

  .card-text {
    padding: 0 10px;
  }

  .courses-img {
    padding: 1rem 5rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 911px) {
  .card-text {
    padding: 0 7px;
  }

  .courses-other {
    padding-top: 60px;
  }

  .courses-img {
    padding: 1rem 4rem;
    height: 135px;
  }

  .courses-card-body {
    padding: 1.25rem 1rem 20px 1rem;
  }

  .card {
    margin: 0 10px;
  }
}

@media screen and (min-width: 576px) and (max-width : 790px) {
  .courses-card-body {
    padding: 0.9rem 0.5rem 20px 0.5rem;
  }

  .card-title {
    font-size: 1.3rem;
  }
  
  .courses-btn {
    padding: 0.6rem 2rem;
  }

  .card-text {
    font-size: 0.81rem;
    line-height: 1.2rem;
    padding: 0 15px;
  }

  .card {
    margin: 0 5px;
  }

  .courses-view-courses {
    i {
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 576px) and (max-width : 690px) {
  .courses-img {
    height: 8.5rem;
    padding: 2rem 2.4rem;
  }
  
  .courses-list,
  .courses-other {
    padding: 0 10px;
  }

  .courses-card-body {
    padding: 0.7rem 0rem 17px 0rem;
  }

  .card-text {
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .courses-btn {
    font-size: 1.05rem;
    padding: 0.6rem 1rem;
  }

  .courses-other {
    p:first-child {
      font-size: 4.5rem;
    }
  }

  .courses-view-courses {
    font-size: 2.3rem;
    margin-top: 50px;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .courses-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .courses-list {
    margin-top: -65px;
  }

  .courses-img {
    height: 220px;
    padding: 1rem 6rem;
}

  .card {
    margin: 0 auto;
    width: 28rem;
    margin-bottom: 40px;
  }

  .courses-card-body {
    padding: 1.25rem 2rem 35px 2rem;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 17px;
    line-height: calc(20 / 14);
    margin-bottom: 20px;
    padding: 0;
  }

  .courses-btn {
    font-size: 1.5rem;
    padding: 1rem 2.6rem;
  }

  .courses-other {
    padding-top: 10px;

    p:first-child {
      font-size: 4.3rem;
      margin-bottom: 2.3rem;
    }
  }

  .courses-view-courses {
    font-size: 2.5rem;

    i {
      font-size: 5vw;
    }
  }
}

@media screen and (max-width: 475px) {
  .card {
    width: 24rem;
  }

  .courses-img {
    height: 180px;
  }
  
  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 14px;
  }

  .courses-btn {
    font-size: 14px;
  }

  .courses-card-body {
    padding: 0.7rem 2rem 30px 2rem;
  }

  .courses-other {
    p:first-child {
      font-size: 44px;
    }
  }

  .courses-view-courses {
    font-size: 24px;
  }
}

@media screen and (max-width: 375px) {
  .courses-list {
    margin-top: -60px;
  }

  .card {
    width: 20rem;
  }

  .courses-card-body {
    padding: 0.7rem 1rem 30px 1rem;
  }

  .courses-img {
    height: 13rem;
    padding: 3rem 4rem;
  }

  .card-title {
    font-size: 1.7rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .courses-other {
    p:first-child {
      font-size: 3.3rem;
    }
  }

  .courses-view-courses {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 350px) {
  .courses-img {
    height: 12rem;
  }

  .card-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }

  .card-title {
    margin-bottom: 2px;
  }

  .courses-other {
    p:first-child {
      font-size: 2.9rem;
    }
  }
}
