.statistic {
  padding: 100px 200px 65px 200px;
  font-family: $fontNu;
  text-align: center;
}

.statistic-title {
  font-size: 80px;
  font-weight: bold;
  color: $color-blue-0;
  display: inline-block;
  border-bottom: 6px solid $color-green-0;
  margin-bottom: 50px;
  line-height: calc(98.09 / 80);
}

.statistic-item {
  p {
    font-size: 60px;
    line-height: calc(73.56 / 60);
    font-weight: bold;
    color: $color-black-0;
  }

  span {
    font-size: 60px;
    line-height: 100%;
    font-weight: 500;
    color: $color-green-0;
    line-height: calc(73.56 / 60);
  }
}

@media screen and (max-width: 1468px) {
  .statistic-title {
    font-size: 70px;
  }

  .statistic-item {
    p {
      font-size: 50px;
    }

    span {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .statistic {
    padding: 100px 150px 35px 150px;
  }

  .statistic-title {
    font-size: 65px;
  }

  .statistic-item {
    p {
      font-size: 45px;
    }

    span {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 1225px) {
	.statistic {
    padding: 100px 110px 35px 110px;
  }

  .statistic-title {
    font-size: 60px;
  }

  .statistic-item {
    p {
      font-size: 40px;
    }

    span {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .statistic {
    padding: 70px 0 0 0;
  }

  .counters {
    padding: 0 35px;
  }
}

@media screen and (max-width: 768px) {
  .statistic {
    padding-top: 60px 0 0 0;
  }

  .statistic-title {
    font-size: 50px;
	}

  .counters {
    padding: 0 20px;
  }

  .statistic-item {
    p {
      font-size: 30px;
    }

    span {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .statistic-item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 455px) {
  .statistic-title {
    font-size: 44px;
  }

  .statistic-item p {
    font-size: 27px;
  }

  .statistic-item span {
    font-size: 27px;
  }
}
