// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-green-0 : #B2D235;
$color-green-1 : #90AB26;
$color-blue-0 : #11114E;
$color-blue-1 : #3F6185;
$color-blue-2 : #556598;
$color-blue-3 : #24ABE2;
$color-blue-4 : #1B75BB;
$color-blue-5 : #2774DF;
$color-blue-6 : #3184F7;
$color-black-0 : #505353;
$color-black-1 : #454545;
$color-black-2 : rgba(48, 46, 46, 0.9);
$color-black-3 : #C4C4C4;
$color-black-4 : #7F7F7F;
$color-black-5 : #B2B2B2;
$color-black-6 : #E5E5E5;
$color-yellow-0 : #F2C54F;
$color-red-0 :#DC594C;
$color-red-1 : #E14E40;
$color-white-0 : #F2F2F2;
$color-white-1 : #D9DADC;
$color-white-2 : #F1F0F0;
$fs-0 : 14px;
$fontNu : 'Nunito', sans-serif;
