.courses {
  font-family: 'UTM BryantLG';
}

.courses-list {
  margin-top: -80px;
}

.card {
  width: 33.33%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 0 15px;
  overflow: hidden;
}

.courses-img {
  height: 15rem;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.courses-hcj {
    background-color: $color-blue-1;
  }

  &.courses-laravel {
    background-color: $color-red-0;
  }

  &.courses-php {
    background-color: $color-blue-2;
  }

  &.courses-css {
    background-color: $color-blue-3;
  }

  &.courses-ruby {
    background-color: $color-red-1;
  }

  &.courses-java {
    background-color: $color-blue-4;
  }
}

.card-title {
  font-size: 2.1rem;
  color: $color-green-0;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 2.7rem;
}

.card-text {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: $color-black-0;
  letter-spacing: -0.05rem;
  padding: 0 20px;
}

.courses-card-body {
  padding: 1.25rem 2.8rem 56px 2.8rem;
}

.courses-btn {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  word-spacing: 0.1rem;
  color: white;
  padding: 0.8rem 2.6rem;
  background-color: $color-green-0;
  border-radius: 22px;
  box-shadow: inset 0px 1.5px 2px #6F8710;

  &:hover {
    color: $color-green-0;
    background-color: white;
  }
}

.courses-other {
  padding-top: 120px;
  position: relative;

  p:first-child {
    font-size: 6rem;
    font-weight: bold;
    color: $color-blue-0;
    display: inline-block;
    border-bottom: 6px solid $color-green-0;
    margin-bottom: 3.57rem;
  }
}

.courses-view-courses {
  font-size: 3rem;
  color: $color-green-1;
  font-weight: bold;
  margin-top: 65px;
  display: block;

  &:hover {
    color: $color-green-0;
  }

  i {
    font-size: 2.6rem;
    display: inline-block;
    margin-left: 5px;
  }
}

@media screen and (max-width : 1300px) {
  .courses-card-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }  
}

@media screen and (max-width : 1200px) {
  .courses-card-body {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .card-title {
    font-size: 1.6rem;
  }
  
  .card-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .courses-btn {
    font-size: 1.3rem;
    padding: 0.8rem 2.4rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 1100px) {
  .courses-img {
    height: 12rem;
  }

  .courses-card-body {
    padding: 1.25rem 2rem 35px 2rem;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 1058px) {
  .courses-card-body {
    padding: 1.25rem 1.5rem 35px 1.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 998px) {
  .courses-list {
    margin-top: -60px;
  }

  .courses-card-body {
    padding: 0.3rem 1.5rem 30px 1.5rem;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .courses-btn {
    font-size: 1.1rem;
  }

  .courses-img {
    height: 10.5rem;
  }

  .courses-other {
    p:first-child {
      font-size: 5rem;
    }
  }

  .courses-view-courses {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width : 911px) {
  .courses-card-body {
    padding: 1.25rem 0rem 35px 0rem;
  }

  .card {
    margin: 0 10px;
  }

  .card-text {
    padding: 0 15px;
  }
}

@media screen and (min-width: 576px) and (max-width : 790px) {
  .courses-img {
    padding: 2rem 2.5rem;
  }

  .courses-card-body {
    padding: 0.3rem 0rem 20px 0rem;
  }

  .card-title {
    font-size: 1.3rem;
  }
  
  .courses-btn {
    padding: 0.6rem 2rem;
  }

  .card-text {
    font-size: 0.81rem;
    line-height: 1.2rem;
    padding: 0 15px;
  }

  .card {
    margin: 0 5px;
  }
}

@media screen and (min-width: 576px) and (max-width : 690px) {
  .courses-card-body {
    padding: 0.3rem 0rem 15px 0rem;
  }

  .card-text {
    padding: 0 5px;
  }

  .courses-btn {
    font-size: 1.13rem;
    padding: 0.6rem 1rem;
  }

  .courses-other {
    p:first-child {
      font-size: 4.5rem;
    }
  }

  .courses-view-courses {
    font-size: 2.3rem;
    margin-top: 50px;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .courses-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .courses-list {
    margin-top: -45px;
  }

  .card {
    margin: 0 auto;
    width: 28rem;
    margin-bottom: 40px;
  }

  .courses-card-body {
    padding: 1.25rem 2.8rem 56px 2.8rem;
  }

  .card-title {
    font-size: 2.1rem;
  }

  .card-text {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .courses-btn {
    font-size: 1.5rem;
    padding: 1rem 2.6rem;
  }

  .courses-other {
    p:first-child {
      font-size: 4.5rem;
    }
  }

  .courses-view-courses {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 455px) {
  .card {
    width: 24rem;
  }
  
  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.3rem;
  }

  .courses-card-body {
    padding: 0.7rem 2rem 40px 2rem;
  }

  .courses-other {
    p:first-child {
      font-size: 3.8rem;
    }
  }

  .courses-view-courses {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 370px) {
  .card {
    width: 90%;
  }

  .card-img {
    height: 13rem;
    padding: 3rem 4rem;
  }

  .card-title {
    font-size: 1.7rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .courses-other {
    p:first-child {
      font-size: 3.3rem;
    }
  }

  .courses-view-courses {
    font-size: 1.7rem;
  }
  .courses-btn {
    font-size: 1.3rem;
  }
}
