.course-detail {
  font-family: $fontNu;
}

.detail-link {
  padding: 10px 147px 10px 155px;
  background-color: #E9E7E7;

  a {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: -0.02em;
    color: $color-black-0;

    &:hover {
      text-decoration: none;
      color: $color-black-0;
    }
  }
}

.detail-content {
  background-color: #F2F2F2;
  padding: 30px 162px 60px 155px;
}

.detail-img {
  width: 995px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}

.detail-left {
  width: 65%;
}

.detail-left-content {
  margin-top: 25px;
  background-color: white;
  padding: 0 20px 30px 20px;
  border-radius: 10px;
}

.nav-tabs .nav-item .nav-link {
  background-color: white;
}

.nav-tabs {
  border-bottom: 2px solid #DADADA;
}

.nav-item {
  margin-right: 90px;
}

.nav-tabs .nav-link {
  margin-bottom: -2px;
  border: 0;
  border-bottom: 2px solid #DADADA;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(24.52 / 20);
  letter-spacing: -0.02em;
  color: $color-black-0;
  padding: 1rem 0;

  &.active {
    border-bottom: 2px solid $color-green-0;
    color: $color-green-0;
  }
}

.lesson-top {
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #E2E0E0;

  input {
    padding: 5px 50px 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
  }

  i {
    position: absolute;
    font-size: 20px;
    top: 39%;
    left: 220px;
    color: $color-black-0;
    cursor: pointer;
  }

  button {
    padding: 8px 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: calc(20 / 15);
    color: white;
    background-color: $color-green-0;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;

    &:hover {
      background-color: $color-green-1;
    }
  }

  .btn-join {
    padding: 7px 25px;
    background-color: $color-green-0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    box-shadow: inset 0px 1.5px 2px #6f8710;
    border-radius: 22px;
  
    &:hover {
      color: white;
      background-color: $color-green-1;
      text-decoration: none;
    }
  }

  .btn-join-learned {
    background-color: #6c757d;
    border: 0;
    box-shadow: none;
    cursor: not-allowed;

    &:hover {
      color: white;
      background-color: #6c757d;
    }
  }
}

.lesson-item {
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #E2E0E0;
  ;
}

.lesson-stt {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(25 / 20);
  letter-spacing: -0.02em;
  padding-right: 15px;
  color: $color-black-0;
}

.lesson-title {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(22 / 20);
  letter-spacing: -0.02em;
  color: $color-black-0;
}

.lesson-btn {
  padding: 7px 22px;
  background-color: $color-green-0;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: calc(18.39 / 15);
  box-shadow: inset 0px 1.5px 2px #6f8710;
  border-radius: 22px;

  &:hover {
    color: white;
    background-color: $color-green-1;
    text-decoration: none;
  }
}

.lesson-item-text {
  &:hover {
    .lesson-title,
    .lesson-stt {
      color: $color-green-0;
      text-decoration: none;
    }
  }
}

.detail-right {
  margin-left: 25px;
}

.course-description {
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.description-title {
  font-size: 25px;
  font-weight: 700;
  line-height: calc(30.65 / 25);
  letter-spacing: -0.02em;
  color: $color-black-0;
  border-bottom: 1px solid #B2D235;
  padding: 10px 0 15px 0;
}

.description-detail {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  line-height: calc(26 / 18);
  letter-spacing: -0.02em;
  color: #949292;
  padding: 15px 0;
}

.course-info {
  background-color: white;
  padding: 10px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.course-info {
  i {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37 / 32);
    letter-spacing: -0.05em;
    color: $color-black-0;
    padding-right: 25px;
  }

  span {
    font-size: 25px;
    line-height: calc(31 / 25);
    letter-spacing: -0.02em;
    color: $color-black-0;
  }
}

.info-text {
  padding-right: 20px;

  &.text-lesson {
    padding-right: 26.5px;
  }

  &.text-time {
    padding-right: 51.5px;
  }

  &.text-tag {
    padding-right: 67.5px;
  }

  &.text-price {
    padding-right: 63.5px;
  }
}

.course-info {
  .fa-clock,
  .fa-key {
    padding-right: 30px;
  }

  span {
    a {
      font-size: 25px;
      line-height: calc(31 / 25);
    }
  }
}

.colon {
  padding-right: 15px;
}

.info-item {
  padding: 30px 0;
  border-bottom: 1px solid #D1D1D1;
}

.info-price {
  border-bottom: 0;
}

// component other course 
.course-other {
  background-color: white;
  margin-top: 30px;
}

.course-other-content {
  padding: 10px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
}

.course-other-top {
  font-size: 25px;
  font-weight: 700;
  line-height: calc(31 / 25);
  letter-spacing: -0.05em;
  color: white;
  background-color: $color-green-0;
  padding: 15px 0;
  text-align: center;
}

.course-other-item {
  padding: 18px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20 /16);
  letter-spacing: -0.02em;
  color: $color-black-0;
  border-bottom: 1px solid #E2E0E0;
}

.course-other-btn {
  text-align: center;
  padding: 20px 0 18px 0;

  button {
    padding: 7px 25px;
    background-color: $color-green-0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    box-shadow: inset 0px 1.5px 2px #6f8710;
    border-radius: 22px;
    border: 0;

    &:hover {
      color: white;
      background-color: $color-green-1;
      text-decoration: none;
    }
  }
}

// teacher scss 
.teacher-content {
  padding: 30px 10px;
}

.teacher-item {
  margin-bottom: 55px;
}

.teacher-title {
  font-size: 25px;
  font-weight: 700;
  line-height: calc(30.65 / 25);
  color: $color-black-0;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.avata-teacher-cus {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.teacher-name {
  font-size: 18px;
  font-weight: bold;
  line-height: calc(22.07 /18);
  color: $color-black-0;
}

.item-teacher-info {
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(17.07 / 14);
    color: #BDB9B9;
  }
}

.icon-google,
.icon-facebook {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  cursor: pointer;
}

.icon-google {
  border:0.5px solid #F44336;
  color: #F44336;
  box-sizing: border-box;
  margin-right: 5px;
}

.icon-facebook {
  border: 0.5px solid #1976D2;
  color: #1976D2;
  box-sizing: border-box;
}

.item-text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  line-height: calc(26 / 18);
  letter-spacing: -0.02em;
  color: #949292;
}

// review scss 
.review-total {
  font-size: 25px;
  font-weight: 700;
  line-height: calc(31 / 25);
  letter-spacing: -0.02em;
  color: $color-black-0;
  padding: 30px 0 5px 5px;
  border-bottom: 1px solid #F3F0F0;
}

.review-mid {
  padding: 15px 0 30px 5px;
  border-bottom: 1px solid #F3F0F0;
}

.review-left {
  background-color: $color-black-0;
  padding: 30px 30px 40px 30px;
  box-sizing: border-box;
  border-radius: 10px;
}

.review-right {
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 10px;
}

.rating-number {
  font-size: 60px;
  line-height: calc(74 / 60);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: white;

}

.rating-star {
  .fa-star {
    font-size: 22px;
    color: #FFD567;
  }
}

.rating-total {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: white;
}

.review-right {
  margin-left: 30px;

  .progress {
    width: 245px;
    height: 6px;
  }
}

.review-right-item {
  padding: 8px 15px;
}

.title-first-star {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20 / 16);
  letter-spacing: -0.02em;
  color: $color-black-0;
  margin-right: 10px;
}

.total-cmt {
  margin-left: 10px;
  color: #9BA2A2;
}

.review-detail {
  padding: 30px 5px 0 5px;
  
  .fa-angle-down {
    font-size: 13px;
  }
}

.show-review {
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: -0.02em;
  font-weight: 700;
  color: $color-black-0;
  display: inline-block;
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
    color: $color-black-0;
  }
}

.avata-user-review {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.review-detail-name {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: $color-black-0;
  padding-left: 10px;
}

.review-detail-star {
  padding-left: 13px;
  
  .fa-star {
    color: $color-yellow-0;
  }
}

.review-detail-top {
  margin-bottom: 20px;

  span {
    color: #BDB9B9;
    letter-spacing: -0.02em;
    line-height: calc(17 / 14);
    padding-left: 30px;
  }
}

.add-review {
  padding: 0 5px;

  span {
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: -0.02em;
    color: #747474;
  }

  textarea {
    margin: 10px 0 15px 0;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;

    &:focus-visible {
      outline: 1px solid $color-green-0;
    }
  }

  .star-vote-title {
    font-size: 22px;
    line-height: calc(27 / 22);
    font-weight: bold;
    color: $color-black-0;
  }

  .review-login {
    cursor: pointer;
    color: $color-green-0;  
  }
}

.review-detail-text {
  font-size: 18px;
  line-height: calc(26 / 18);
  letter-spacing: -0.02em;
  color: #949292;
  padding-bottom: 30px;
  border-bottom: 1px solid #F3F0F0;
}

.add-review-title {
  font-size: 22px;
  font-weight: 700;
  line-height: calc(27 / 22);
  letter-spacing: -0.02em;
  color: $color-black-0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.star-vote-rating {
  padding: 0 25px 0 20px;
}

.fa-star-cus {
  font-size: 18px;
  line-height: calc(21 / 18);
  padding-right: 5px;
  color: #D8D8D8;
  cursor: pointer;
}

.star-vote-btn {
  font-size: 15px;
  line-height: calc(18 / 15);
  color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  background-color: $color-green-0;
  padding: 7px 20px;
  border: 0;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  text-align: right;

  &:hover {
    background-color: $color-green-1;
  }
}
.modal-header {
  .btn-end-close {
    opacity: 1;
    border-radius: 0;
  
    &:hover {
      background-color: $color-green-1;
      color: white;
    }
  }
}

.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .detail-img {
    width: 640px;
    height: 370px;
  }
}
