.resetpassword {
  font-family: $fontNu;
  padding: 25px 150px 25px 150px;
  background-color: #f2f2f2;

  .resetpassword-content {
    background-color: white;
		padding: 20px 363px;
  }

  .resetpassword-title {
    font-size: 30px;
    line-height: calc(37 / 30);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: $color-green-0;
  }

  p {
    font-size: 20px;
    line-height: calc(25 / 20);
    letter-spacing: -0.02em;
    color: $color-black-0;
    font-weight: 700;
    margin: 10px 0;
  }

  label {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
		color: $color-black-0;
		display: block;
		width: 462px;
		margin-top: 30px;
  }

	input {
		background-color: #F2F2F2;
	}

	button {
		padding: 7px 25px;
    background-color: $color-green-0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    box-shadow: inset 0px 1.5px 2px #6f8710;
    border-radius: 22px;
    border: 0;
		cursor: pointer;
		margin-top: 25px;

		&:hover {
			background-color: $color-green-1;
		}
	}
}
