@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

@font-face {
  src: url(/fonts/UTM_BryantLG.ttf?6ac9618cb914ee77de23f88c6c9cd42b);
  font-family: "UTM BryantLG";
}
@media screen and (max-width: 1920px) {
  .custom-container {
    max-width: 1336px;
    margin: auto;
  }
}
@media screen and (max-width: 1668px) {
  .custom-container {
    max-width: 1236px;
    margin: auto;
  }
}
@media screen and (max-width: 1510px) {
  .custom-container {
    max-width: 1116px;
    margin: auto;
  }
}
@media screen and (max-width: 1398px) {
  .custom-container {
    max-width: 1046px;
    margin: auto;
  }
}
@media screen and (max-width: 1326px) {
  .custom-container {
    max-width: 956px;
    margin: auto;
  }
}
@media screen and (max-width: 1225px) {
  .custom-container {
    max-width: 856px;
    margin: auto;
  }
}
header .header-navbar {
  padding: 25px 132px 25px 132px;
}
header .header-navbar .header-tonggle {
  border: 0;
}
header .hide {
  display: none;
}
header .header-iconx {
  font-size: 2rem;
  border: 0;
}

.header-ul {
  margin-left: auto;
}
.header-ul .header-nav-item {
  border-radius: 25px;
  padding: 1px 15px;
  transition: all 0.3s ease;
  margin: 0 5px;
}
.header-ul .header-nav-item.header-active, .header-ul .header-nav-item:hover {
  background-color: #B2D235;
}
.header-ul .header-nav-item.header-active a, .header-ul .header-nav-item:hover a {
  color: white !important;
}
.header-ul .header-nav-item a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  color: #505353;
}

@media screen and (max-width: 1920px) {
  .header-navbar-brand .navbar-brand {
    width: 341px;
  }
}
@media screen and (max-width: 1820px) {
  .header-navbar-brand .navbar-brand {
    width: 300px;
  }
}
@media screen and (max-width: 1690px) {
  .header-navbar-brand .navbar-brand {
    width: 280px;
  }
}
@media screen and (max-width: 1490px) {
  .header-navbar-brand .navbar-brand {
    width: 250px;
  }
}
@media screen and (max-width: 1290px) {
  .header-navbar-brand .navbar-brand {
    width: 220px;
  }
}
@media screen and (min-width: 950px) and (max-width: 1100px) {
  header .header-navbar {
    padding: 25px 49px 25px 49px;
  }

  .header-navbar-brand {
    text-align: center;
  }
  .header-navbar-brand .navbar-brand {
    width: 215px;
  }

  .header-ul .header-nav-item {
    padding: 0 10px;
  }

  .navbar.header-navbar {
    display: block;
  }
  .navbar.header-navbar .header-navbar-brand {
    padding-bottom: 10px;
  }

  .navbar-expand-sm .navbar-collapse.header-content {
    display: block !important;
  }

  .header-content .header-ul {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px) {
  header .header-navbar {
    padding: 25px 49px 25px 49px;
  }

  .navbar.header-navbar {
    display: block;
  }
  .navbar.header-navbar .header-navbar-brand {
    text-align: center;
  }

  .navbar-expand-sm .navbar-collapse.header-content {
    display: block !important;
  }

  .header-content .header-ul {
    justify-content: space-between;
  }

  .header-ul .header-nav-item {
    padding: 0 10px;
  }
}
@media screen and (min-width: 668px) and (max-width: 768px) {
  header .header-navbar {
    padding: 25px 49px 25px 49px;
  }

  .header-navbar {
    display: block;
  }
  .header-navbar .header-navbar-brand {
    padding-bottom: 10px;
    text-align: center;
  }

  .navbar-expand-sm .navbar-collapse.header-content {
    display: block !important;
  }

  .header-content .header-ul {
    justify-content: space-between;
  }

  .header-ul .header-nav-item {
    padding: 0 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 668px) {
  header .header-navbar {
    padding: 25px 49px 25px 49px;
  }

  .header-ul .header-nav-item {
    padding: 0 10px;
  }
  .header-ul .header-nav-item a {
    font-size: 11.2px;
  }

  .header-navbar {
    display: block;
  }
  .header-navbar .header-navbar-brand {
    padding-bottom: 10px;
    text-align: center;
  }
  .header-navbar .header-navbar-brand .navbar-brand {
    width: 210px;
  }

  .navbar-expand-sm .navbar-collapse.header-content {
    display: block !important;
  }

  .header-content .header-ul {
    justify-content: space-between;
  }
}
@media screen and (max-width: 575px) {
  .navbar-toggler-icon {
    margin-top: 8px;
  }

  .header-tonggle {
    top: 26px;
  }

  header .header-navbar {
    margin: 0;
  }
  header .header-navbar .navbar-toggler {
    font-size: 1.1rem;
  }

  .header-ul {
    height: 100vh;
  }
  .header-ul .header-nav-item {
    padding: 25px 0;
  }
  .header-ul .header-nav-item.header-active, .header-ul .header-nav-item:hover {
    background-color: transparent;
  }
  .header-ul .header-nav-item.header-active a, .header-ul .header-nav-item:hover a {
    color: #B2D235 !important;
  }
  .header-ul .header-nav-item .nav-link {
    text-align: center;
  }

  .header-tonggle {
    position: absolute;
    left: 0px;
    top: 30px;
  }

  .navbar.header-navbar .header-navbar-brand {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 21px;
  }

  .header-ul .header-nav-item {
    border-radius: 5px;
  }

  .navbar.header-navbar {
    display: block;
  }
  .navbar.header-navbar .header-navbar-brand {
    width: 100%;
    margin: 0;
    padding-bottom: 0px;
    text-align: center;
  }

  .header-navbar-brand .navbar-brand {
    width: 15rem;
  }
}
@media screen and (max-width: 460px) {
  .header-navbar-brand .navbar-brand {
    width: 15rem;
  }
}
@media screen and (max-width: 430px) {
  .header-navbar-brand .navbar-brand {
    width: 14rem;
  }
}
@media screen and (max-width: 400px) {
  header .header-navbar {
    padding: 31px 0 25px 0;
  }

  .header-navbar-brand .navbar-brand {
    width: 11.5rem;
  }
}
@media screen and (max-width: 345px) {
  .header-navbar-brand .navbar-brand {
    width: 11rem;
  }
}
.banner {
  position: relative;
  background: linear-gradient(180deg, #fffbfb 87.5%, #e7e9ee 100%);
  font-family: "Nunito";
  height: 800px;
}
.banner .banner-img {
  background-image: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/273808183_699100118119024_6518370349122794635_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=5QN0ioUHSXsAX_PwWl8&_nc_ht=scontent.fhan14-2.fna&oh=03_AVIZK8KlGPAABui7XBEZ25uq_h2OeQtbeFokllwI_TjLSQ&oe=62576452");
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner .banner-content {
  position: absolute;
  top: 22%;
  left: 0;
  padding-left: 160px;
}

.banner-content p:first-child {
  font-weight: 400;
  color: #11114E;
  margin-bottom: 0;
}
.banner-content .banner-content-imgsmall {
  font-weight: bold;
  color: #11114E;
  word-spacing: 5px;
  margin-bottom: 13px;
}
.banner-content .banner-tagp {
  color: #505353;
  margin-bottom: 2rem;
}
.banner-content .banner-btn {
  padding: 13px 55px;
  border-radius: 35px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  color: white;
  font-weight: 600;
  background-color: #B2D235;
  transition: all 0.3s ease;
}
.banner-content .banner-btn:hover {
  background-color: #90AB26;
}

@media screen and (max-width: 1920px) {
  .banner-content p:first-child {
    font-size: 50px;
  }
  .banner-content .banner-content-imgsmall {
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 0;
  }
  .banner-content .banner-content-imgsmall img {
    width: 70px;
    margin: 0 -13px;
  }
  .banner-content .banner-tagp {
    font-size: 17px;
  }
  .banner-content .banner-btn {
    font-size: 17px;
  }
}
@media screen and (max-width: 1650px) {
  .banner-content p:first-child {
    font-size: 45px;
  }
  .banner-content .banner-content-imgsmall {
    font-size: 42px;
  }
  .banner-content .banner-content-imgsmall img {
    width: 60px;
  }
  .banner-content .banner-tagp {
    font-size: 16px;
  }
  .banner-content .banner-btn {
    font-size: 16px;
  }

  .banner {
    height: 750px;
  }
  .banner .banner-img {
    height: 600px;
  }
}
@media screen and (max-width: 1400px) {
  .banner {
    height: 650px;
  }
  .banner .banner-img {
    height: 500px;
  }
  .banner .banner-content p:first-child {
    font-size: 40px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 57px;
  }
  .banner .banner-content .banner-tagp {
    font-size: 16px;
  }
}
@media screen and (max-width: 1260px) {
  .banner {
    height: 550px;
  }
  .banner .banner-img {
    height: 450px;
  }
  .banner .banner-content p:first-child {
    font-size: 35px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 32px;
    margin-bottom: 0;
  }
  .banner .banner-content .banner-tagp {
    font-size: 14px;
  }
  .banner .banner-content .banner-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1100px) {
  .banner .banner-content {
    top: 16%;
    padding-left: 80px;
  }
  .banner .banner-content p:first-child {
    font-size: 35px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 34px;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 45px;
  }
  .banner .banner-content .banner-tagp {
    font-size: 14px;
  }
  .banner .banner-content .banner-btn {
    font-size: 14px;
    padding: 14px 55px;
  }
}
@media screen and (max-width: 898px) {
  .banner {
    height: 485px;
  }
  .banner .banner-img {
    height: 385px;
  }
  .banner .banner-content p:first-child {
    font-size: 2.2rem;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 2.2rem;
  }
  .banner .banner-content .banner-tagp {
    font-size: 1.1rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 1.1rem;
    padding: 12px 38px;
  }
}
@media screen and (max-width: 768px) {
  .banner .banner-content {
    top: 15%;
  }
  .banner .banner-content p:first-child {
    font-size: 28px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 35px;
    margin: -5px;
  }
  .banner .banner-content .banner-tagp {
    font-size: 0.8rem;
    margin-bottom: 1.4rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 0.8rem;
    padding: 11px 30px;
  }
}
@media screen and (max-width: 668px) {
  .banner {
    height: 465px;
  }
  .banner .banner-img {
    height: 380px;
  }
  .banner .banner-content {
    top: 18%;
  }
  .banner .banner-content p:first-child {
    font-size: 25px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 22px;
  }

  .banner-content-imgsmall img {
    width: 6%;
  }
}
@media screen and (max-width: 575px) {
  .banner {
    height: 500px;
  }
  .banner .banner-img {
    height: 40%;
  }
  .banner .banner-content {
    position: relative;
    top: 0%;
    width: 88%;
    margin: 0 auto;
    padding-left: 55px;
  }
  .banner .banner-content p:first-child {
    font-size: 25px;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 25px;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 10%;
  }
  .banner .banner-content .banner-tagp {
    font-size: 16px;
    margin-bottom: 1.7rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 18px;
    padding: 12px 50px;
  }
}
@media screen and (max-width: 484px) {
  .banner .banner-content p:first-child {
    font-size: 1.8rem;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 1.8rem;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 10%;
  }
  .banner .banner-content .banner-tagp {
    font-size: 1rem;
    margin-bottom: 1.7rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 1.1rem;
    padding: 12px 44px;
  }
}
@media screen and (max-width: 410px) {
  .banner {
    height: 530px;
  }
  .banner .banner-img {
    height: 45%;
  }
  .banner .banner-content {
    width: 91%;
  }
  .banner .banner-content p:first-child {
    font-size: 1.6rem;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 1.6rem;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 10%;
  }
  .banner .banner-content .banner-tagp {
    font-size: 1rem;
    margin-bottom: 1.7rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 1rem;
    padding: 11px 40px;
  }
}
@media screen and (max-width: 354px) {
  .banner .banner-content {
    padding-left: 40px;
  }
  .banner .banner-content p:first-child {
    font-size: 1.4rem;
  }
  .banner .banner-content .banner-content-imgsmall {
    font-size: 1.35rem;
  }
  .banner .banner-content .banner-content-imgsmall img {
    width: 10%;
  }
  .banner .banner-content .banner-tagp {
    font-size: 1rem;
    margin-bottom: 1.7rem;
  }
  .banner .banner-content .banner-btn {
    font-size: 1rem;
    padding: 11px 40px;
  }
}
.courses {
  font-family: "Nunito";
}

.courses-list {
  margin-top: -80px;
}

.card {
  width: 33.33%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 0 15px;
  overflow: hidden;
}

.courses-img {
  height: 250px;
  padding: 3rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-img.courses-hcj {
  background-color: #3F6185;
}
.courses-img.courses-laravel {
  background-color: #DC594C;
}
.courses-img.courses-php {
  background-color: #556598;
}
.courses-img.courses-css {
  background-color: #24ABE2;
}
.courses-img.courses-ruby {
  background-color: #E14E40;
}
.courses-img.courses-java {
  background-color: #1B75BB;
}

.card-title {
  font-size: 33px;
  color: #B2D235;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: calc(36.78 / 30);
}

.card-text {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(1.7 / 1.1);
  color: #505353;
  letter-spacing: -0.05rem;
  padding: 0 45px;
  margin-bottom: 20px;
}

.courses-card-body {
  padding: 25px 14px 40px 14px;
}

.courses-btn {
  font-size: 18px;
  line-height: calc(22.07 / 18);
  font-weight: bold;
  letter-spacing: -0.05rem;
  word-spacing: 0.1rem;
  color: white;
  padding: 15px 50px;
  background-color: #B2D235;
  border-radius: 35px;
  box-shadow: inset 0px 1.5px 2px #6F8710;
}
.courses-btn:hover {
  color: white;
  background-color: #90AB26;
}

.courses-other {
  padding-top: 120px;
  position: relative;
}
.courses-other p:first-child {
  font-size: 80px;
  font-weight: bold;
  color: #11114E;
  display: inline-block;
  border-bottom: 6px solid #B2D235;
  margin-bottom: 4.9rem;
  line-height: calc(98.09 / 80);
}

.courses-view-courses {
  font-size: 40px;
  color: #90AB26;
  font-weight: bold;
  margin-top: 65px;
  display: block;
}
.courses-view-courses:hover {
  color: #B2D235;
}
.courses-view-courses i {
  font-size: 2.5vw;
  display: inline-block;
  margin-left: 5px;
}

@media screen and (max-width: 1668px) {
  .courses-img {
    height: 225px;
    padding: 3rem 6rem;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    padding: 0 32px;
  }

  .courses-other {
    padding-top: 90px;
  }

  .courses-view-courses i {
    font-size: 3vw;
    display: inline-block;
    margin-left: 5px;
  }

  .courses-btn {
    padding: 16px 40px;
  }
}
@media screen and (max-width: 1568px) {
  .card-text {
    padding: 0 20px;
  }

  .courses-other {
    padding-top: 70px;
  }

  .courses-img {
    height: 205px;
  }

  .card-text {
    font-size: 13px;
  }

  .card-title {
    font-size: 28px;
  }

  .courses-btn {
    padding: 14px 40px;
  }
}
@media screen and (max-width: 1468px) {
  .courses-img {
    padding: 1rem 5rem;
    height: 190px;
  }

  .card-text {
    padding: 0 20px;
  }

  .courses-card-body {
    padding: 1.5rem 1rem 30px 1rem;
  }

  .courses-btn {
    padding: 13px 40px;
  }

  .courses-other p:first-child {
    font-size: 70px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 12px;
  }

  .courses-btn {
    font-size: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .courses-img {
    height: 170px;
  }

  .card-text {
    padding: 0 9px;
  }

  .courses-card-body {
    padding: 1.05rem 1rem 25px 1rem;
  }
}
@media screen and (max-width: 1260px) {
  .courses-list {
    margin-top: -55px;
  }
}
@media screen and (max-width: 1225px) {
  .courses-img {
    height: 150px;
    padding: 1rem 4rem;
  }

  .card-title {
    font-size: 22px;
  }

  .card-text {
    font-size: 11px;
  }

  .courses-btn {
    font-size: 13px;
    padding: 11px 40px;
  }

  .courses-other p:first-child {
    font-size: 60px;
  }

  .courses-view-courses {
    font-size: 30px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1100px) {
  .card-title {
    margin-bottom: 0;
    font-size: 23px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1058px) {
  .courses-card-body {
    padding: 1.25rem 1rem 35px 1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .courses-list {
    margin-top: -55px;
    padding: 0 20px;
  }

  .courses-other {
    padding: 0 20px;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 20px;
  }

  .courses-btn {
    font-size: 0.9rem;
  }

  .card-text {
    padding: 0 10px;
  }

  .courses-img {
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 911px) {
  .card-text {
    padding: 0 7px;
  }

  .courses-other {
    padding-top: 60px;
  }

  .courses-img {
    padding: 1rem 4rem;
    height: 135px;
  }

  .courses-card-body {
    padding: 1.25rem 1rem 20px 1rem;
  }

  .card {
    margin: 0 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 790px) {
  .courses-card-body {
    padding: 0.9rem 0.5rem 20px 0.5rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .courses-btn {
    padding: 0.6rem 2rem;
  }

  .card-text {
    font-size: 0.81rem;
    line-height: 1.2rem;
    padding: 0 15px;
  }

  .card {
    margin: 0 5px;
  }

  .courses-view-courses i {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 690px) {
  .courses-img {
    height: 8.5rem;
    padding: 2rem 2.4rem;
  }

  .courses-list,
.courses-other {
    padding: 0 10px;
  }

  .courses-card-body {
    padding: 0.7rem 0rem 17px 0rem;
  }

  .card-text {
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

  .courses-btn {
    font-size: 1.05rem;
    padding: 0.6rem 1rem;
  }

  .courses-other p:first-child {
    font-size: 4.5rem;
  }

  .courses-view-courses {
    font-size: 2.3rem;
    margin-top: 50px;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .courses-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .courses-list {
    margin-top: -65px;
  }

  .courses-img {
    height: 220px;
    padding: 1rem 6rem;
  }

  .card {
    margin: 0 auto;
    width: 28rem;
    margin-bottom: 40px;
  }

  .courses-card-body {
    padding: 1.25rem 2rem 35px 2rem;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 17px;
    line-height: calc(20 / 14);
    margin-bottom: 20px;
    padding: 0;
  }

  .courses-btn {
    font-size: 1.5rem;
    padding: 1rem 2.6rem;
  }

  .courses-other {
    padding-top: 10px;
  }
  .courses-other p:first-child {
    font-size: 4.3rem;
    margin-bottom: 2.3rem;
  }

  .courses-view-courses {
    font-size: 2.5rem;
  }
  .courses-view-courses i {
    font-size: 5vw;
  }
}
@media screen and (max-width: 475px) {
  .card {
    width: 24rem;
  }

  .courses-img {
    height: 180px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 14px;
  }

  .courses-btn {
    font-size: 14px;
  }

  .courses-card-body {
    padding: 0.7rem 2rem 30px 2rem;
  }

  .courses-other p:first-child {
    font-size: 44px;
  }

  .courses-view-courses {
    font-size: 24px;
  }
}
@media screen and (max-width: 375px) {
  .courses-list {
    margin-top: -60px;
  }

  .card {
    width: 20rem;
  }

  .courses-card-body {
    padding: 0.7rem 1rem 30px 1rem;
  }

  .courses-img {
    height: 13rem;
    padding: 3rem 4rem;
  }

  .card-title {
    font-size: 1.7rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .courses-other p:first-child {
    font-size: 3.3rem;
  }

  .courses-view-courses {
    font-size: 1.7rem;
  }

  .courses-btn {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 350px) {
  .courses-img {
    height: 12rem;
  }

  .card-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }

  .card-title {
    margin-bottom: 2px;
  }

  .courses-other p:first-child {
    font-size: 2.9rem;
  }
}
.whyhapo-lg,
.whyhapo-md {
  margin-top: 80px;
  font-family: "Nunito";
  background: url("https://scontent.fhan3-4.fna.fbcdn.net/v/t1.15752-9/275312003_515162936787208_5903099052690634795_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=RXevyYDMsQUAX9rdPJr&_nc_oc=AQl-dphAJ9FuybaQ2Yup54mrtWVQgN2a8bUrALBLEZYLADWmwXnXmoiFsVDh-W1lNQQ&tn=Ryk5XZ6RrJ3PJiS7&_nc_ht=scontent.fhan3-4.fna&oh=03_AVI9pqe780hBZnPClULrj7hWVj8CS4XnSwNIfBQmvMcltQ&oe=625FADF0") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 775px;
}

.whyhapo-md {
  display: none;
}

.whyhapo-topimg {
  display: inline-block;
  margin-top: -260px;
  width: 479px;
  height: 600px;
}

.whyhapo-left {
  color: white;
  margin-left: 11rem;
}
.whyhapo-left .whyhapo-title {
  font-size: 70px;
  font-weight: bold;
  line-height: calc(85.83 / 70);
  letter-spacing: -2%;
  margin-bottom: 20px;
}
.whyhapo-left span {
  display: flex;
  font-size: 20px;
  padding-left: 41px;
  align-items: center;
  margin-bottom: 20px;
}
.whyhapo-left span i {
  font-size: 1.9rem;
  padding-right: 12px;
  opacity: 1;
}

.whyhapo-right {
  margin-top: -16rem;
  width: 792px;
  height: 544px;
  margin-left: 125px;
}

@media screen and (max-width: 1839px) {
  .whyhapo-left span {
    font-size: 20px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 1638px) {
  .whyhapo-right {
    margin-top: -15rem;
    width: 760px;
    margin-left: 100px;
  }

  .whyhapo-left span {
    font-size: 16px;
    padding-left: 30px;
  }

  .whyhapo-left .whyhapo-title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1564px) {
  .whyhapo-topimg {
    width: 470px;
  }

  .whyhapo-right {
    width: 45vw;
    margin-top: -12rem;
  }
}
@media screen and (max-width: 1464px) {
  .whyhapo-left .whyhapo-title {
    font-size: 60px;
  }
  .whyhapo-left span {
    padding-left: 25px;
  }

  .whyhapo-right {
    width: 40vw;
    margin-top: -8rem;
  }
}
@media screen and (max-width: 1370px) {
  .whyhapo-lg {
    height: 720px;
  }

  .whyhapo-topimg {
    width: 440px;
    height: 580px;
  }

  .whyhapo-right {
    margin-top: -10rem;
    width: 43rem;
    margin-left: 70px;
  }

  .whyhapo-left span {
    font-size: 14px;
  }

  .whyhapo-left .whyhapo-title {
    font-size: 53px;
  }
}
@media screen and (max-width: 1270px) {
  .whyhapo-lg {
    height: 630px;
  }

  .whyhapo-topimg {
    width: 410px;
    height: 535px;
  }

  .whyhapo-left {
    margin-left: 6rem;
  }
  .whyhapo-left .whyhapo-title {
    font-size: 47px;
  }
  .whyhapo-left span {
    font-size: 13px;
  }
  .whyhapo-left span i {
    font-size: 1.7rem;
  }

  .whyhapo-right {
    margin-top: -9rem;
    width: 42rem;
  }
}
@media screen and (max-width: 1175px) {
  .whyhapo-left {
    margin-left: 5rem;
  }

  .whyhapo-right {
    margin-top: -8rem;
    width: 38rem;
  }
}
@media screen and (max-width: 1100px) {
  .whyhapo-topimg {
    width: 340px;
    height: 445px;
    margin-top: -220px;
  }

  .whyhapo-lg {
    display: none;
  }

  .whyhapo-md {
    display: block;
    height: 555px;
  }

  .whyhapo-top .whyhapomd-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 100%;
    margin-top: 3.8rem;
  }

  .whyhapomd-text {
    color: white;
    margin-left: 35px;
  }
  .whyhapomd-text span {
    display: flex;
    font-size: 16px;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  .whyhapomd-text span i {
    font-size: 20px;
    padding-right: 12px;
    opacity: 1;
  }

  .whyhapomd-right {
    margin-top: -5rem;
    width: 35rem;
    margin-left: 4rem;
  }
}
@media screen and (max-width: 1046px) {
  .whyhapomd-right {
    margin-left: 3.8rem;
    margin-top: -5rem;
    width: 32rem;
  }

  .whyhapomd-text span {
    font-size: 1.08rem;
  }
  .whyhapomd-text span i {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 971px) {
  .whyhapomd-text span {
    font-size: 0.91rem;
  }
  .whyhapomd-text span i {
    font-size: 1.6rem;
  }

  .whyhapomd-right {
    margin-left: 2.2rem;
    width: 31rem;
    margin-top: -4.8rem;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 4rem;
    margin-left: -30px;
  }
}
@media screen and (max-width: 883px) {
  .whyhapo-topimg {
    width: 344px;
    height: 450px;
    margin-top: -198px;
  }

  .whyhapomd-right {
    margin-left: 7vw;
    width: 25rem;
    margin-top: -3.6rem;
  }

  .whyhapomd-text {
    margin-left: 1.9vw;
  }
  .whyhapomd-text span {
    font-size: 0.86rem;
  }
  .whyhapomd-text span i {
    font-size: 1.58rem;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 3.7rem;
    margin-left: -40px;
  }
}
@media screen and (max-width: 784px) {
  .whyhapomd-text span {
    font-size: 0.75rem;
  }
  .whyhapomd-text span i {
    font-size: 1.3rem;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 3.1rem;
    margin-left: -80px;
  }

  .whyhapomd-right {
    margin-left: 6.5vw;
    width: 20rem;
    margin-top: -2.6rem;
  }
}
@media screen and (max-width: 664px) {
  .whyhapo-topimg {
    width: 330px;
    height: 440px;
    margin-top: -170px;
  }

  .whyhapomd-text {
    margin-left: 0px;
  }
  .whyhapomd-text span {
    font-size: 0.64rem;
  }
  .whyhapomd-text span i {
    font-size: 1.15rem;
  }

  .whyhapomd-right {
    margin-top: -1.9rem;
    margin-left: 2.5vw;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 3rem;
    margin-left: -80px;
  }

  .whyhapo-topimg {
    width: 300px;
    height: 400px;
  }

  .whyhapo-md {
    height: 500px;
  }
}
@media screen and (min-width: 430px) and (max-width: 575px) {
  .whyhapo-md {
    height: 700px;
  }

  .whyhapo-topimg {
    height: 335px;
    width: 245px;
  }

  .whyhapomd-text {
    width: 80%;
    margin: 0 auto;
  }
  .whyhapomd-text span {
    font-size: 1.06rem;
  }
  .whyhapomd-text span i {
    font-size: 1.56rem;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 30px;
    margin-left: -80px;
  }

  .whyhapomd-right {
    width: 30rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 430px) and (max-width: 531px) {
  .whyhapomd-text {
    width: 90%;
    margin: 0 auto;
  }
  .whyhapomd-text span {
    font-size: 1rem;
  }
  .whyhapomd-text span i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 473px) {
  .whyhapomd-text span {
    font-size: 0.9rem;
  }
  .whyhapomd-text span i {
    font-size: 1.5rem;
  }

  .whyhapo-topimg {
    height: 290px;
    width: 225px;
    margin-top: -130px;
  }
}
@media screen and (max-width: 430px) {
  .whyhapo-md {
    height: 620px;
  }

  .whyhapomd-text {
    width: 90%;
    margin: auto;
  }
  .whyhapomd-text span {
    font-size: 0.8rem;
  }
  .whyhapomd-text span i {
    font-size: 1.5rem;
  }

  .whyhapomd-right {
    width: 23rem;
    margin: 0 auto;
  }

  .whyhapo-top .whyhapomd-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 370px) {
  .whyhapomd-text {
    width: 100%;
    margin-left: 0;
  }
  .whyhapomd-text span {
    font-size: 0.74rem;
  }
  .whyhapomd-text span i {
    font-size: 1.4rem;
  }
}
.feedback {
  font-family: "Nunito";
  text-align: center;
  padding-top: 70px;
}
.feedback .feedback-title {
  font-size: 80px;
  font-weight: bold;
  color: #11114E;
  display: inline-block;
  border-bottom: 6px solid #B2D235;
  margin-bottom: 30px;
  line-height: calc(90.09 / 80);
}
.feedback .feedback-undertitle {
  font-size: 25px;
  color: #505353;
  line-height: calc(30.65 / 25);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 55px;
}

.feedback-content {
  width: 90%;
  margin: 0 auto;
}
.feedback-content .feedback-item {
  width: 50%;
  text-align: left;
}

.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

.feedback-text {
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.feedback-text p {
  padding: 30px 25px;
  border-left: 5px solid #D9DADC;
  font-size: 17px;
  line-height: calc(19.62 / 16);
}
.feedback-text::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: 40px;
  bottom: -9px;
  transform: rotate(45deg);
  box-shadow: 1px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
}

.feedback-img {
  width: 65px;
  margin-left: 35px;
}

.feedback-bot {
  display: flex;
  margin-top: 30px;
}

.feedback-right {
  padding-left: 15px;
}
.feedback-right p {
  margin-bottom: 0;
  color: #11114E;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(25 / 20);
}
.feedback-right span {
  font-size: 16px;
  color: #505353;
  line-height: calc(20 / 16);
}
.feedback-right .feedback-stars {
  color: #F2C54F;
}
.feedback-right .fa-star,
.feedback-right .fa-star-half-alt {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.slick-prev {
  position: absolute;
  left: -13px;
  top: 75px;
  font-size: 0;
  z-index: 10;
}
.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  background-color: white;
  padding: 3px 8.5px;
  border-radius: 50%;
  color: black;
  border: 1px solid #C4C4C4;
  font-size: 22px;
}

.slick-next {
  position: absolute;
  right: -7.8px;
  top: 75px;
  font-size: 0;
  z-index: 10;
}
.slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  background-color: white;
  padding: 3px 8.5px;
  border-radius: 50%;
  color: black;
  border: 1px solid #C4C4C4;
  font-size: 22px;
}

@media screen and (max-width: 1510px) {
  .feedback-text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1398px) {
  .feedback .feedback-undertitle {
    font-size: 22px;
  }

  .feedback .feedback-title {
    font-size: 70px;
  }

  .feedback-text p {
    font-size: 12px;
    padding: 22px 15px;
  }

  .feedback-img {
    width: 60px;
  }

  .feedback-right p {
    font-size: 16px;
  }

  .feedback-right span {
    font-size: 14px;
  }

  .feedback-right .fa-star,
.feedback-right .fa-star-half-alt {
    font-size: 12px;
  }

  .slick-prev {
    top: 60px;
  }

  .slick-next {
    top: 60px;
  }
}
@media screen and (max-width: 1180px) {
  .feedback .feedback-undertitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 899px) {
  .feedback-content.custom-container {
    max-width: 550px;
  }

  .feedback .feedback-undertitle {
    width: 70%;
  }
}
@media screen and (max-width: 690px) {
  .feedback .feedback-undertitle {
    width: 85%;
  }
}
@media screen and (max-width: 550px) {
  .feedback-content.custom-container {
    max-width: 400px;
  }

  .feedback-img {
    width: 50px;
  }

  .feedback .feedback-title {
    font-size: 60px;
  }

  .feedback .feedback-undertitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .feedback-text p {
    font-size: 11px;
    margin-bottom: 0;
  }

  .slick-prev::before,
.slick-next::before {
    font-size: 16px;
  }

  .slick-prev,
.slick-next {
    top: 57px;
  }
}
@media screen and (max-width: 437px) {
  .feedback-content.custom-container {
    max-width: 320px;
  }

  .feedback .feedback-title {
    font-size: 44px;
    margin-bottom: 20px;
  }

  .feedback .feedback-undertitle {
    font-size: 14px;
  }

  .feedback-text p {
    font-size: 10.5px;
    padding: 22px 10px;
  }
}
@media screen and (max-width: 374px) {
  .feedback-content.custom-container {
    max-width: 250px;
  }

  .feedback-right p {
    font-size: 14px;
  }

  .feedback-right span {
    font-size: 12px;
  }

  .feedback-right .fa-star,
.feedback-right .fa-star-half-alt {
    font-size: 10px;
  }

  .feedback-img {
    width: 45px;
    margin-left: 25px;
  }

  .slick-prev,
.slick-next {
    top: 72px;
  }
}
.slogan {
  background: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/275135370_977242776231502_5362606624304119384_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=6J8szmQLPuMAX9Mkk5T&_nc_ht=scontent.fhan14-2.fna&oh=03_AVL8B3o3cTWJuE8sZ5SymuEaP2Lr4RMgraEoZ3CclurZNg&oe=624ED1CC") center center;
  background-size: cover;
  height: 550px;
  margin-top: 100px;
}

.slogan-content {
  font-family: "Nunito";
}
.slogan-content p {
  font-size: 60px;
  font-weight: 700;
  line-height: calc(73.56 / 60);
  color: white;
}
.slogan-content button {
  font-size: 30px;
  line-height: calc(36.78 / 30);
  font-weight: bold;
  padding: 17px 55px;
  background-color: white;
  color: #B2D235;
  border-radius: 44px;
  border: 0;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}
.slogan-content button:hover {
  color: white;
  background-color: #B2D235;
}

@media screen and (max-width: 1600px) {
  .slogan {
    height: 520px;
  }
}
@media screen and (max-width: 1366px) {
  .slogan {
    height: 500px;
  }

  .slogan-content p {
    font-size: 50px;
  }
  .slogan-content button {
    font-size: 25px;
    padding: 13px 55px;
    border-radius: 35px;
  }
}
@media screen and (max-width: 900px) {
  .slogan {
    height: 400px;
  }

  .slogan-content p {
    font-size: 45px;
  }
  .slogan-content button {
    font-size: 22px;
  }
}
@media screen and (max-width: 800px) {
  .slogan-content p {
    font-size: 40px;
  }
  .slogan-content button {
    font-size: 20px;
    padding: 13px 35px;
  }
}
@media screen and (max-width: 640px) {
  .slogan {
    height: 350px;
  }

  .slogan-content p {
    font-size: 35px;
  }
  .slogan-content button {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .slogan {
    height: 300px;
  }

  .slogan-content p {
    font-size: 30px;
  }
  .slogan-content button {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  .slogan {
    height: 270px;
  }

  .slogan-content p {
    font-size: 23px;
  }
  .slogan-content button {
    font-size: 12px;
  }
}
.statistic {
  padding: 100px 200px 65px 200px;
  font-family: "Nunito";
  text-align: center;
}

.statistic-title {
  font-size: 80px;
  font-weight: bold;
  color: #11114E;
  display: inline-block;
  border-bottom: 6px solid #B2D235;
  margin-bottom: 50px;
  line-height: calc(98.09 / 80);
}

.statistic-item p {
  font-size: 60px;
  line-height: calc(73.56 / 60);
  font-weight: bold;
  color: #505353;
}
.statistic-item span {
  font-size: 60px;
  line-height: 100%;
  font-weight: 500;
  color: #B2D235;
  line-height: calc(73.56 / 60);
}

@media screen and (max-width: 1468px) {
  .statistic-title {
    font-size: 70px;
  }

  .statistic-item p {
    font-size: 50px;
  }
  .statistic-item span {
    font-size: 50px;
  }
}
@media screen and (max-width: 1366px) {
  .statistic {
    padding: 100px 150px 35px 150px;
  }

  .statistic-title {
    font-size: 65px;
  }

  .statistic-item p {
    font-size: 45px;
  }
  .statistic-item span {
    font-size: 45px;
  }
}
@media screen and (max-width: 1225px) {
  .statistic {
    padding: 100px 110px 35px 110px;
  }

  .statistic-title {
    font-size: 60px;
  }

  .statistic-item p {
    font-size: 40px;
  }
  .statistic-item span {
    font-size: 40px;
  }
}
@media screen and (max-width: 992px) {
  .statistic {
    padding: 70px 0 0 0;
  }

  .counters {
    padding: 0 35px;
  }
}
@media screen and (max-width: 768px) {
  .statistic {
    padding-top: 60px 0 0 0;
  }

  .statistic-title {
    font-size: 50px;
  }

  .counters {
    padding: 0 20px;
  }

  .statistic-item p {
    font-size: 30px;
  }
  .statistic-item span {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  .statistic-item {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 455px) {
  .statistic-title {
    font-size: 44px;
  }

  .statistic-item p {
    font-size: 27px;
  }

  .statistic-item span {
    font-size: 27px;
  }
}
.footer {
  font-family: "Nunito";
  background-color: #505353;
  margin-top: 100px;
}

.footer-lg {
  padding: 65px 0px 40px 180px;
  color: white;
}

.footer-left {
  margin-right: 70px;
}
.footer-left .footer-img {
  width: 292px;
  height: 60px;
}
.footer-left p {
  padding-left: 66px;
  font-size: 20px;
  line-height: calc(22.52 / 20);
  opacity: 0.8;
  margin-top: 10px;
}

.footer-center {
  padding-left: 200px;
  margin-top: 25px;
}
.footer-center p {
  font-size: 20px;
  line-height: calc(24.52 / 20);
  margin-bottom: 20px;
}
.footer-center .footer-center-l {
  margin-right: 100px;
}

.footer-right {
  margin-left: 275px;
}

.custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  line-height: 60px;
  cursor: pointer;
}
.custom-phone-icon i,
.custom-fb-icon i,
.custom-en-icon i {
  color: #505353;
  font-size: 20px;
}

.footer-link {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-decoration: underline;
  display: none;
  line-height: calc(24.52 / 20);
}
.footer-link:hover {
  color: white;
}

.footer-active {
  display: block;
}

.footer-bot {
  padding: 5px 0;
  background-color: #454545;
  color: white;
}
.footer-bot p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: calc(18.59 / 15);
}

@media screen and (min-width: 1821px) and (max-width: 1920px) {
  .footer-icon:hover a {
    display: block;
  }
}
@media screen and (min-width: 1716px) and (max-width: 1820px) {
  .footer-right {
    margin-left: 203px;
  }

  .footer-center {
    padding-left: 130px;
  }

  .footer-icon:hover a {
    display: block;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1715px) {
  .footer-right {
    margin-left: 185px;
  }

  .footer-center {
    padding-left: 130px;
  }

  .footer-center .footer-center-l {
    margin-right: 70px;
  }

  .footer-icon:hover a {
    display: block;
  }
}
@media screen and (min-width: 1469px) and (max-width: 1600px) {
  .footer-icon:hover a {
    display: block;
  }

  .footer-lg {
    padding: 65px 0px 40px 150px;
  }

  .footer-left .footer-img {
    width: 270px;
  }

  .footer-right {
    margin-left: 250px;
  }

  .footer-center {
    padding-left: 130px;
  }
  .footer-center p {
    font-size: 17px;
  }

  .footer-center .footer-center-l {
    margin-right: 50px;
  }

  .footer-left p {
    padding-left: 63px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1468px) {
  .footer-icon:hover a {
    display: block;
  }

  .footer-center p {
    font-size: 15px;
  }

  .footer-center .footer-center-l {
    margin-right: 33px;
  }

  .footer-center {
    padding-left: 80px;
  }

  .footer-right {
    margin-left: 165px;
  }

  .footer-left .footer-img {
    width: 250px;
  }

  .footer-left p {
    padding-left: 56px;
    font-size: 15px;
    opacity: 0.8;
    margin-top: 0;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 53px;
    cursor: pointer;
  }

  .footer-link {
    font-size: 15px;
  }
}
@media screen and (min-width: 1224px) and (max-width: 1366px) {
  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 53px;
    cursor: pointer;
  }

  .footer-link {
    font-size: 15px;
  }

  .footer-lg {
    padding: 65px 0 30px 140px;
  }

  .footer-icon:hover a {
    display: block;
  }

  .footer-left .footer-img {
    width: 240px;
  }
  .footer-left p {
    padding-left: 57px;
    font-size: 14px;
    margin-top: -5px;
  }

  .footer-center {
    padding-left: 100px;
  }
  .footer-center p {
    font-size: 14.5px;
    line-height: calc(24.52 / 20);
    margin-bottom: 20px;
  }
  .footer-center .footer-center-l {
    margin-right: 30px;
  }

  .footer-right {
    margin-left: 200px;
  }

  .footer-active {
    display: block;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1223px) {
  .footer-lg {
    padding: 65px 0 30px 105px;
  }

  .footer-icon:hover a {
    display: block;
  }

  .footer-left .footer-img {
    width: 220px;
  }
  .footer-left p {
    padding-left: 52px;
    font-size: 12px;
    margin-top: -10px;
  }

  .footer-center {
    padding-left: 75px;
    margin-top: 17px;
  }
  .footer-center p {
    font-size: 14px;
    line-height: calc(24.52 / 20);
    margin-bottom: 20px;
  }
  .footer-center .footer-center-l {
    margin-right: 30px;
  }

  .footer-right {
    margin-left: 165px;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 48px;
    cursor: pointer;
  }

  .footer-link {
    font-size: 14px;
    color: white;
    opacity: 0.7;
    text-decoration: underline;
    display: none;
  }

  .footer-active {
    display: block;
  }
}
@media screen and (min-width: 993px) and (max-width: 1099px) {
  .footer-lg {
    padding: 65px 0 30px 107px;
  }

  .footer-left .footer-img {
    width: 230px;
  }
  .footer-left p {
    padding-left: 52px;
    font-size: 14px;
    margin-top: -10px;
  }

  .footer-center {
    padding-left: 20px;
    margin-top: 18px;
  }
  .footer-center p {
    font-size: 14px;
    line-height: calc(24.52 / 20);
    margin-bottom: 20px;
  }
  .footer-center .footer-center-l {
    margin-right: 50px;
  }

  .footer-right {
    margin-left: 8vw;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 48px;
    cursor: pointer;
  }

  .footer-active {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .footer-lg {
    padding: 65px 0px 30px 35px;
  }

  .footer-left .footer-img {
    width: 230px;
  }
  .footer-left p {
    padding-left: 57px;
    font-size: 14px;
    margin-top: -10px;
  }

  .footer-center {
    padding-left: 50px;
    margin-top: 18px;
  }
  .footer-center p {
    font-size: 14px;
    line-height: calc(24.52 / 20);
    margin-bottom: 20px;
  }
  .footer-center .footer-center-l {
    margin-right: 40px;
  }

  .footer-right {
    margin-left: 10vw;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 48px;
    cursor: pointer;
  }

  .footer-link {
    font-size: 18px;
    color: white;
    opacity: 0.7;
    text-decoration: underline;
    display: none;
  }
  .footer-link:hover {
    color: white;
  }

  .footer-active {
    display: block;
  }

  .footer-bot {
    padding: 5px 0;
    background-color: #454545;
    color: white;
  }
  .footer-bot p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 856px) {
  .footer-left .footer-img {
    width: 200px;
  }
  .footer-left p {
    font-size: 12px;
    padding-left: 45px;
  }

  .footer-center {
    padding-left: 0px;
  }
  .footer-center p {
    font-size: 13px;
  }
  .footer-center .footer-center-l {
    margin-right: 40px;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 40px;
    height: 40px;
    line-height: 48px;
  }
  .custom-phone-icon i,
.custom-fb-icon i,
.custom-en-icon i {
    font-size: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 735px) {
  .footer-lg {
    padding: 65px 0px 30px 25px;
  }

  .footer-left {
    margin-right: 60px;
  }
  .footer-left .footer-img {
    width: 150px;
  }
  .footer-left p {
    font-size: 12px;
    padding-left: 33px;
  }

  .footer-center p {
    font-size: 14px;
  }
  .footer-center .footer-center-l {
    margin-right: 30px;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 30px;
    height: 30px;
    line-height: 33px;
  }
  .custom-phone-icon i,
.custom-fb-icon i,
.custom-en-icon i {
    font-size: 15px;
  }

  .footer-right {
    margin-left: 27px;
  }
}
@media screen and (max-width: 576px) {
  .footer-left {
    display: none;
  }

  .footer-lg {
    padding: 50px 50px 30px 50px;
  }

  .footer-center {
    padding-left: 0;
  }
  .footer-center p {
    font-size: 17px;
  }
  .footer-center .footer-center-l {
    margin-right: 205px;
  }

  .footer-right {
    margin-left: 0px;
  }

  .footer-img {
    width: 150px;
    margin-top: 20px;
  }

  .footer-logo-sm {
    margin-right: 60px;
    margin-left: -7px;
  }
  .footer-logo-sm p {
    padding-left: 7px;
    font-size: 12px;
    line-height: calc(17.17 / 14);
    opacity: 0.8;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    width: 30px;
    height: 30px;
    line-height: 33px;
  }
  .custom-phone-icon i,
.custom-fb-icon i,
.custom-en-icon i {
    font-size: 15px;
  }
}
@media screen and (max-width: 484px) {
  .footer-center .footer-center-l {
    margin-right: 155px;
  }

  .footer-logo-sm {
    margin-right: 40px;
  }
}
@media screen and (max-width: 425px) {
  .footer-lg {
    padding: 50px 0px 30px 50px;
  }

  .footer-center p {
    font-size: 15px;
  }
  .footer-center .footer-center-l {
    margin-right: 161px;
  }
}
@media screen and (max-width: 395px) {
  .footer-logo-sm {
    margin-right: 10px;
  }
  .footer-logo-sm p {
    font-size: 10px;
  }

  .custom-phone-icon,
.custom-fb-icon,
.custom-en-icon {
    margin: 0 5px;
  }

  .footer-center .footer-center-l {
    margin-right: 107px;
  }

  .footer-lg {
    padding: 50px 0px 30px 28px;
  }
}
.icon-img {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #2774DF;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.icon-img i {
  color: white;
  font-size: 45px;
}

.mess-content {
  background-color: white;
  box-shadow: 0px 0px 8px 0px #00000040;
  display: none;
  border-radius: 25px;
  padding: 25px 50px 30px 20px;
  position: absolute;
  top: -250px;
  left: -345px;
}

.mess-name {
  color: #7F7F7F;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: calc(16.34 / 12);
  margin-left: 70px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.mess-chat {
  background-color: #F1F0F0;
  padding: 10px 60px 10px 20px;
  border-radius: 15px;
}
.mess-chat p {
  margin-bottom: 0;
  color: #505353;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(17 / 12);
  font-family: "Open Sans";
}

.ava-hapo {
  margin-top: 15px;
  margin-right: 10px;
  width: 35px;
}

.mess-ava {
  margin-bottom: 30px;
}

.mess-btn {
  padding: 11px 55px;
  background-color: #3184F7;
  border: 0;
  border-radius: 10px;
  color: white;
  margin-left: 47px;
  margin-bottom: 10px;
  display: flex;
}
.mess-btn span {
  font-size: 12px;
  line-height: calc(16.34 / 12);
}
.mess-btn i {
  font-size: 17px;
  margin-right: 10px;
}

.mess-text {
  text-align: center;
  font-size: 12px;
  line-height: calc(16.34 / 12);
  font-family: "Open Sans";
  color: #B2B2B2;
  margin-left: 45px;
}

.icon-close {
  width: 24px;
  height: 23px;
  background-color: #C4C4C4;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  position: absolute;
  top: 7px;
  right: 14px;
  cursor: pointer;
}
.icon-close i {
  font-size: 18px;
}

.icon-mess {
  position: fixed;
  z-index: 10;
  right: 30px;
  top: 80%;
}

.mess-active {
  display: inline-block;
}

@media screen and (max-width: 1400px) {
  .icon-img {
    width: 45px;
    height: 45px;
  }
  .icon-img i {
    font-size: 34px;
  }

  .mess-content {
    padding: 25px 35px 30px 20px;
    top: -210px;
    left: -310px;
    border-radius: 20px;
  }

  .mess-ava {
    margin-bottom: 20px;
  }

  .mess-name {
    font-size: 10px;
    margin-left: 55px;
  }

  .ava-hapo {
    width: 26px;
  }

  .mess-chat p {
    font-size: 10px;
  }

  .mess-btn {
    padding: 10px 50px;
    margin-bottom: 4px;
  }
  .mess-btn span {
    font-size: 10px;
  }

  .mess-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  .mess-content {
    padding: 25px 30px 30px 10px;
  }
}
@media screen and (max-width: 423px) {
  .icon-mess {
    right: 10px;
  }

  .icon-img {
    width: 35px;
    height: 35px;
  }
  .icon-img i {
    font-size: 27px;
  }

  .mess-content {
    padding: 16px 20px 20px 15px;
    top: -170px;
    left: -260px;
    border-radius: 18px;
  }

  .mess-ava {
    margin-bottom: 15px;
  }

  .mess-name {
    font-size: 8px;
    margin-left: 55px;
  }

  .ava-hapo {
    width: 23px;
  }

  .mess-chat p {
    font-size: 8px;
  }

  .mess-btn {
    padding: 8px 40px;
    margin-bottom: 4px;
  }
  .mess-btn span {
    font-size: 8px;
  }
  .mess-btn i {
    font-size: 12px;
  }

  .mess-text {
    font-size: 8px;
  }

  .icon-close {
    width: 20px;
    height: 20px;
    line-height: 21px;
    right: 8px;
  }
  .icon-close i {
    font-size: 14px;
  }
}
.form-rl-header {
  font-family: "Nunito";
  display: inline-block;
  position: relative;
  margin-top: 50px;
}
.form-rl-header p {
  padding: 10px 65px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #B2D235;
  cursor: pointer;
  background-color: white;
  color: #B2D235;
}
.form-rl-header p.modal-active-cus {
  background-color: #B2D235;
  color: white;
}
.form-rl-header .modal-header-l {
  padding: 10px 86px;
}
.form-rl-header .modal-header-r {
  margin-left: -5px;
}
.form-rl-header .form-group {
  margin-bottom: 2.5rem;
}
.form-rl-header .modal-close {
  width: 45px;
  height: 45px;
  line-height: 57px;
  text-align: center;
  background-color: #B2D235;
  border-radius: 50%;
  position: absolute;
  top: -19px;
  right: -20px;
  cursor: pointer;
}
.form-rl-header .modal-close i {
  font-size: 30px;
  color: white;
}

.form-r {
  background-color: white;
  padding: 43px 40px 40px 40px;
  color: #505353;
}
.form-r label {
  font-size: 20px;
  font-weight: bold;
  line-height: calc(1.78 / 1.42);
}
.form-r input {
  padding: 25px 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
}
.form-r button {
  padding: 10px 70px;
  background-color: #B2D235;
  border-radius: 27px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  color: white;
  border: 0;
}
.form-r button:hover {
  background-color: #90AB26;
}

.form-l {
  background-color: white;
  padding: 43px 30px 40px 30px;
  color: #505353;
}
.form-l label {
  font-size: 20px;
  font-weight: bold;
  line-height: calc(1.78 / 1.42);
}
.form-l input {
  padding: 30px 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
}
.form-l button {
  padding: 10px 80px;
  background-color: #B2D235;
  border-radius: 27px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  color: white;
  border: 0;
}
.form-l button:hover {
  background-color: #90AB26;
}
.form-l .form-check {
  margin-top: -20px;
}
.form-l .form-check .form-check-input {
  margin-top: 2px;
  accent-color: #B2D235;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.form-l .form-check .form-check-label {
  font-size: 18px;
  line-height: calc(22.07 / 18);
  margin-left: 13px;
}
.form-l .form-check a {
  display: inline-block;
  font-size: 18px;
  color: #B2D235;
  font-weight: 500;
  line-height: 22.07px;
}
.form-l .loginwith-text {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #505353;
  margin-top: 20px;
}
.form-l .loginwith-text::after {
  content: " ";
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #DBDBDB;
  bottom: 10px;
  right: -30px;
}
.form-l .loginwith-text::before {
  content: " ";
  position: absolute;
  width: 44%;
  height: 1px;
  background-color: #DBDBDB;
  bottom: 10px;
  left: -30px;
}
.form-l .login-google {
  margin-top: 30px;
  padding: 10px 40px;
  background-color: #DC4E41;
  color: white;
  cursor: pointer;
}
.form-l .login-google:hover {
  color: #454545;
}
.form-l .login-google i {
  font-size: 35px;
}
.form-l .login-google span {
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;
}
.form-l .login-facebook {
  margin-top: 25px;
  padding: 10px 40px;
  background-color: #3B5999;
  color: white;
  cursor: pointer;
}
.form-l .login-facebook:hover {
  color: #454545;
}
.form-l .login-facebook i {
  font-size: 35px;
}
.form-l .login-facebook span {
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;
}

@media screen and (max-width: 1850px) {
  .form-rl-header p {
    font-size: 16px;
  }
  .form-rl-header .modal-header-l {
    padding: 10px 70px;
  }
  .form-rl-header .modal-header-r {
    padding: 10px 55px;
  }
  .form-rl-header .modal-close {
    width: 40px;
    height: 40px;
    line-height: 50px;
  }
  .form-rl-header .modal-close i {
    font-size: 25px;
  }

  .form-l {
    padding: 25px 30px;
  }
  .form-l label {
    font-size: 16px;
  }
  .form-l input {
    padding: 22px 0;
  }
  .form-l .form-check .form-check-label {
    font-size: 14px;
    margin-left: 5px;
  }
  .form-l .form-check .form-check-input {
    width: 15px;
    height: 15px;
  }
  .form-l .form-check a {
    font-size: 14px;
  }
  .form-l button {
    padding: 10px 70px;
    font-size: 14px;
  }
  .form-l .loginwith-text {
    font-size: 16px;
  }
  .form-l .login-google,
.form-l .login-facebook {
    margin-top: 20px;
    padding: 8px 40px;
  }
  .form-l .login-google span,
.form-l .login-facebook span {
    font-size: 16px;
  }
  .form-l .login-google i,
.form-l .login-facebook i {
    font-size: 30px;
  }

  .form-r {
    padding: 25px 30px;
  }
  .form-r label {
    font-size: 16px;
  }
  .form-r input {
    padding: 22px 0;
  }
  .form-r button {
    font-size: 14px;
    padding: 10px 55px;
  }
}
@media screen and (max-width: 1100px) {
  .form-rl-header .form-group {
    margin-bottom: 2rem;
  }
  .form-rl-header p {
    font-size: 14px;
  }
  .form-rl-header .modal-header-l {
    padding: 10px 60px;
  }
  .form-rl-header .modal-header-r {
    padding: 10px 45px;
  }
  .form-rl-header .modal-close {
    width: 30px;
    height: 30px;
    line-height: 37px;
    top: -15px;
    right: -15px;
  }
  .form-rl-header .modal-close i {
    font-size: 20px;
  }

  .form-l {
    padding: 18px 25px;
  }
  .form-l label {
    font-size: 13px;
  }
  .form-l input {
    padding: 18px 0;
  }
  .form-l .form-check .form-check-label {
    font-size: 13px;
    margin-left: 0;
  }
  .form-l .form-check .form-check-input {
    width: 12px;
    height: 12px;
    margin-top: 5px;
  }
  .form-l .form-check a {
    font-size: 13px;
  }
  .form-l button {
    padding: 8px 60px;
    font-size: 14px;
  }
  .form-l .loginwith-text {
    font-size: 14px;
    margin-top: 15px;
  }
  .form-l .loginwith-text::before {
    left: -25px;
    bottom: 7px;
  }
  .form-l .loginwith-text::after {
    right: -25px;
    bottom: 7px;
  }
  .form-l .login-google,
.form-l .login-facebook {
    margin-top: 20px;
    padding: 8px 40px;
  }
  .form-l .login-google span,
.form-l .login-facebook span {
    font-size: 14px;
    margin-top: 1px;
  }
  .form-l .login-google i,
.form-l .login-facebook i {
    font-size: 25px;
  }

  .form-r {
    padding: 18px 25px;
  }
  .form-r label {
    font-size: 14px;
  }
  .form-r input {
    padding: 18px 0;
  }
  .form-r button {
    font-size: 14px;
    padding: 8px 47px;
  }
}
@media screen and (max-width: 500px) {
  .form-rl-header .form-group {
    margin-bottom: 1.6rem;
  }
  .form-rl-header p {
    font-size: 12px;
  }
  .form-rl-header .modal-header-l {
    padding: 8px 50px;
  }
  .form-rl-header .modal-header-r {
    padding: 8px 35px;
  }
  .form-rl-header .modal-close {
    width: 25px;
    height: 25px;
    line-height: 30px;
    top: -10px;
    right: -10px;
  }
  .form-rl-header .modal-close i {
    font-size: 17px;
  }

  .form-l {
    padding: 14px 20px;
  }
  .form-l label {
    font-size: 11px;
  }
  .form-l input {
    padding: 15px 0;
  }
  .form-l .form-check .form-check-label {
    font-size: 11px;
    margin-left: 0;
  }
  .form-l .form-check .form-check-input {
    width: 11px;
    height: 11px;
    margin-top: 5px;
  }
  .form-l .form-check a {
    font-size: 11px;
  }
  .form-l button {
    padding: 8px 50px;
    font-size: 12px;
  }
  .form-l .loginwith-text {
    font-size: 12px;
  }
  .form-l .loginwith-text::before {
    left: -20px;
    bottom: 6px;
  }
  .form-l .loginwith-text::after {
    right: -20px;
    bottom: 6px;
  }
  .form-l .login-google,
.form-l .login-facebook {
    margin-top: 20px;
    padding: 8px 40px;
  }
  .form-l .login-google span,
.form-l .login-facebook span {
    font-size: 12px;
    margin-top: 1px;
  }
  .form-l .login-google i,
.form-l .login-facebook i {
    font-size: 20px;
  }

  .form-r {
    padding: 14px 20px;
  }
  .form-r label {
    font-size: 12px;
  }
  .form-r input {
    padding: 15px 0;
  }
  .form-r button {
    font-size: 12px;
    padding: 8px 40px;
  }
}
